[Unit]
Description=Metal go client
After=syslog.target network.target

[Service]
User=metal
Type=simple
Environment=HOME=/home/metal
ExecStart=/usr/local/bin/metalgo --config-file /etc/metalgo/conf.json
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
